<div class = "center hero-unit">
  <h1>Welcome to My Pancake</h1>
  
  <h2>
    This is the homepage of My Pancake. The way pancake supposed to be made.
  </h2>

  <%= link_to "Learn more", blog_path, class: "btn btn-large btn-primary" %>
</div>

<img src="assets/millenium_falcon_pancake.jpg" alt="millenium falcon" class="center img-rounded">
<img src="assets/star_wars_pancakes.jpg" alt="star wars" class="center img-rounded">
